<div class="nav1">
<link rel="stylesheet" href="css/navbar.css">
<div class="navbar">
  <a  href="/" class="glow">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Home</a>
 <!-- <a href="#news" >News</a> -->
 <div class="dropdown" style="box-shadow: 0 0 10px #14c4ff";>
  <button class="dropbtn glow">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Publications<i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-content">
    <a href="#">Magazines</a>
    <a href="workshopmain.html">VLSID Times</a>
    <a href="#">News</a>
  </div>
</div>

  <div class="dropdown" style="box-shadow: 0 0 10px #14c4ff";>
    <button class="dropbtn glow" >
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Activities<i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Projects</a>
      <a href="workshopmain">Workshops</a>
      <a href="labs.html">Labs</a>
    </div>
  </div>
  <!-- <div class="dropdown">
    <button class="dropbtn">Recruitment
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="vacancy.html" target="center" >Vacancies</a>
      <a href="loginform.html" target="center">Join Us</a>

    </div>
  </div>  -->
  <a  href="Vacancies" class="glow">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Recruitment</a>

  <a  href="#about" class="glow" >
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    About</a>
  <a  href="ourTeam" class="glow">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Our team</a>
  <a  href="FAQ" class="glow">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    FAQ</a>
</div>
</div>
