<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="/css/navbar.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
<body>
  <table>
<tr><td><img src="/images/gvplogo1.jpeg" alt="GVP LOGO" width="80" height="80"></td>
<td><h1 class="index"><i>VLSID CLUB</i></h1></td></tr></table>
<!-- <tr>
<td marginleft="30px"> -->
<%- include('partials/navbar'); -%>

<!-- </td></tr>
</table> -->
 <!-- <div class="scroll-left">
  <p style="font-family: cursive;">HELLO EVERYONE! WELCOME TO THE VLSID CLUB </p>
  </div>  -->


  <!-- <marquee width="100%" direction="left" height="100px" style="border: 1px solid black;"> -->
    <marquee  class="marq" >
      HELLO EVERYONE! WELCOME TO THE VLSID CLUB
    </marquee>
<h2 class="index"> <b>MISSION & VISION </b></h2>
<div class="right_left" style="border-style:solid; margin-top:8px;border-width:5px; border-color:black; width: 80%; height: 373px; padding-left:25px; padding-right:4px; padding-top:1px; padding-bottom:1px ; overflow: hidden;">
  <h1 class="index"><b><font face="BOOKMAN OLD STYLE" style="font-size: 18pt;text-decoration:underline; text-align: center; color:black;" ;><center>Rewards & Achievements</center></font></b></h2>
  <p><br/>
  <marquee onmouseover="this.scrollAmount='0'"
    onmouseout="this.scrollAmount='1'" scrollAmount='1'
    scrollDelay=60 direction=up height=323 WIDTH=750 style="text-align: justify; text-decoration:none; color:#000000; font-family:Times New Roman; font-size:12pt">
  <a  style="text-decoration:none;" href="#"><font color= #0000ff size="3"><img src="https://www.gvpce.ac.in/images/new.gif">congratulations</span></font></a></font><IMG SRC="images/new.gif"></span></font><br><br>
  <a style="text-decoration:none;" href="#"><font color= #ff0000 size="3"><img src="https://www.gvpce.ac.in/images/new.gif">:: !! Congratulations !! </span></font></a></font><IMG SRC="images/new.gif"></span></font><br><br>
  <a style="text-decoration:none;" href="#"><font color= #0000ff size="3"><img src="https://www.gvpce.ac.in/images/new.gif">:: Hearty Congratulations to our  students </span></font></a></font><IMG SRC="images/new.gif"></span></font><br><br>

  </marquee></p></p>
</div>


  <div class="footer" >
    <p style="color: white; padding-top: 1%;"> Contact Us</p>

<!-- <a href="#" class="fa fa-linkedin"></a> -->

<a href="#"><i class="fa fa-linkedin"></i></a>

<a href="#"><i class="fa fa-github" ></i></a>
</div>
</body>
</html>
