
.container {
    display: flex;
    width: 100%;
    height: 80vh;
    justify-content: center;
    align-items: center;
   perspective: 1000px;

  }
  .card {
    position: relative;
    width: 300px;
    height: 305px;
    margin: 3.5rem;
    text-align: center;
    line-height: 3rem;
    color: #ecf0f1;
    border-radius: 0.8rem;
   transform-style: preserve-3d;
   padding-left: 10px;
   margin-top: 80px;

  }
  .face {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.8rem;
    background-size: cover;
    background-position: center center;
    backface-visibility: hidden;
    transition: transform 0.5s ease-in-out;

  }
  .face--front {
    background: #324bc9;
    font-size: 3px;
  }
  .face--back {
    background:#4157ca;
    font-size: 15px;

    transform: rotateY(180deg);
  }
    .card:hover .face--front {
    transform: rotateY(-180deg);
  }

  .card:hover .face--back {
    transform: rotateY(0deg);
  }
  img{
    border-radius: 6px;
  }
